<!doctype html>
<html>
<head>
<meta charset="utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta name="viewport" content="width=device-width, initial-scale=1" />

<script src="https://code.jquery.com/jquery-1.12.4.js"></script>

<!-- Latest compiled and minified JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>


<!-- js 추가 -->
<script src="js/app2.min.js"></script>
<script src="js/loading.min.js"></script>

<script>
	/*
	 <![CDATA[*/	
	/* 함수명 고정(수정불가) */
	function process(result) {
		var s = ""; //초기화

		//무응답 처리
		if (result.output.text.length == 0) {
			s = "대화모델에 해당 입력에 대한 응답이 없습니다. 대화 모델을 확인 해 주세요."
		} else {
			if (result.output.type == "Link") { //DB 또는 API 연동시
				for (var i = 0; i < result.output.text[0].result.length; i++) {
					s += "<img src='" + result.output.text[0].result[i] + "' width='50' height='30'>"
				}
			} else { //일반 대화시
				for ( var key in result.output.text) {
					s += result.output.text[key];
					s += "<br />";
				}
			}
		}
		var time = new Date(Date.now());
		var option = {
			hour : "2-digit",
			minute : "2-digit"
		};
		var timeStamp = time.toLocaleTimeString("en-US", option);

		$("#style-3")
				.append(
						"<div class='talk_isac'><div class='talk_isac_box'>"
								+ s
								+ "</div><div class='talk_isac_time'>"
								+ timeStamp
								+ "</div><div class='talk_isac_icon'><span class='glyphicon glyphicon-headphones' aria-hidden='true'></span></div></div>");

		$("#style-3").append("<div class='clear'></div>");
	}
	/*]]>*/
</script>
<script type="text/javascript">
	$(document).ready(function() {
		$('#chatbotwrapper').OEngine({
			//width   :  '100%',
			//height  :  '560px',
			//bgColor :  '#efefef',
			//ctitle  :  "Aibril Chatbot",
			firstMsg : "안녕하세요. Aibril Chatbot 입니다.",
			api_key : "fb7da8f3-ec06-4320-9bac-21206322f4fe"

		});
	});
</script>
<!-- CSS 추가  -->
<link rel="stylesheet" href="css/style.css" />
<link rel="stylesheet" href="css/semantic.css" />
<link rel="stylesheet" href="css/main.css" />
</head>
<body>
	<!--sticky-->
	<div class="row no-border">
		<div class="sixteen wide tablet eight wide computer column"
			style="text-align: center">
		</div>
	</div>
	<div id="chatbotwrapper" class="chatbotwrap" style="height: 90%; width: 390px;"></div>
</body>
</html>